<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Hero Detail</title>
    <link rel="stylesheet" type="text/css" href="/static/superhero_theme.css">
</head>

<body>
    <!-- Same as show_update_view.html, just no prefilled form-->
    <h1>Superhero News - Edit Hero</h1>

    <div>
        <form action="" method="post">{% csrf_token %} {{ form.as_p }}
            <button type="submit">
                Update
            </button>
        </form>
    </div>

</body>

</html>


<!--<a href="{{ hero.pk }}/">Edit</a>-->