<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Hero Detail</title>
    <link rel="stylesheet" type="text/css" href="/static/superhero_theme.css">
</head>

<body>
    <h1>Superhero News - Create</h1>

    <div>
        <form method="post" style="position: relative;">
            {% csrf_token %} {{form.as_p}}
            <br>
            <button type="submit" value="Create Hero">Create Hero</button>
        </form>
    </div>
</body>

</html>