<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/superhero_theme.css">

</head>

<body>
    <h1>Superhero News</h1>


    {% for hero in object_list %}


    <button onclick="window.location.href='{{ hero.pk }}';">
        {{ hero.name }}
    </button>

    {% endfor %}


    <button onclick="window.location.href='/';">
        Home
    </button>






</body>

</html>